/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4; /* Light gray background for the whole page */
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
}

header h1 {
    font-size: 28px;
    color: #333;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li a {
    text-decoration: none;
    color: #333;
}

.main-content {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.buttons-section,
.announcements {
    flex: 1; /* Distribute available space equally */
    padding: 20px;
    box-sizing: border-box;
}

.announcements {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    margin-right: 20px; /* Add spacing between sections */
}

.announcement-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.announcement-box p {
    font-size: 16px;
    color: #666;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.top-button,
.bottom-button {
    display: block;
    padding: 10px 20px;
    background-color: #f9f9f9;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    background-color: #333;
    padding: 20px;
    color: white;
    position: fixed; /* Change this to fixed */
    bottom: 0;
    width: 100%;
}

/* Add more styles for main content as needed */
